<li id="replyContainer" class="bg-theme-postPrimary rounded-2xl min-w-[300px] h-fit lg:max-w-[50vw] w-fit max-w-[95%]  p-2 border-[3px] border-theme-postSecond ">
    <div class="flex flex-row items-center hidden gap-1 h-fit xl:gap-3 grow text-theme-textMuted" id="replyCollapsed">
        <div class="text-base">
            <span class="align-middle material-symbols-rounded" style="font-variation-settings: 'FILL' 1;">image</span>
            <small class="text-base"><%= post.images %></small>
            <span class="align-middle material-symbols-rounded" style="font-variation-settings: 'FILL' 1;">chat</span>
            <small class="text-base"><%= post.replies %></small>
        </div>
        <small class="hidden text-base text-right xl:inline grow">
            x.xh ago • dd.mm.yyyy • hh:mm:ss
        </small>
        <button id="expandButton" class="rounded-lg size-4 bg-theme-bgAccent xl:order-first" >
            <span class="content-center text-white material-symbols-rounded" style="font-variation-settings: 'wght' 700;">add</span>
        </button>
    </div>


    <div id="replyExpanded" class="flex flex-col gap-1 h-full">
        
        <!-- -------------------- POST TITLE -------------------- -->
        <div class="flex flex-row items-center gap-3 " id="replyTitle">
            <h2 class="text-base font-bold align-middle lg:text-lg text-theme-textMuted">№<%= post.no %> </h2>    <!-- if there is no title it comes back as undefined and crashes, so we check -->
            <small class="hidden text-base text-theme-textSecond xl:inline ml-auto">
                x.xh ago • dd.mm.yyyy • hh:mm:ss
            </small>
            <button id="collapseButton" class="rounded-lg size-5 bg-theme-bgAccent xl:order-first" >
                <span class="content-center text-white material-symbols-rounded" style="font-variation-settings: 'wght' 700; font-size: medium;">remove</span>
            </button>
        </div>

        <!-- -------------------- POST MAIN -------------------- -->

        <div id="replyMain" class="flex flex-row gap-2 grow ">

            <% if (images[post.tim] && post.com) {  %>
                <div id="replyImage" class="hidden xl:inline min-w-[200px] min-h-[100px] bg-theme-postSecond w-1/3">
                    <img src="<%= images[post.tim] %>" alt="" class="my-auto size-full object-contain">
                </div>
            <% } %>
            
            <div  class="flex flex-col gap-1 xl:gap-3 grow">
                <div id="replyMainMenu" class="flex flex-row gap-1 text-theme-textSecond justify-end min-w-[320px]">
                    <div class="p-1 text-sm bg-theme-postSecond grow line-clamp-2 xl:inline hidden" id="replySection">
                        Replies: 
                    </div>
                    <div class="z-auto tooltip" data-tip="Report">
                        <button class="p-2 border-0 material-symbols-rounded btn text-theme-textSecond bg-theme-postSecond " style="font-variation-settings: 'FILL' 1;">flag</button>
                    </div>
                    <div class="z-auto tooltip" data-tip="Share">
                        <button class="p-2 border-0 material-symbols-rounded btn text-theme-textSecond bg-theme-postSecond" style="font-variation-settings: 'FILL' 1;">share</button>
                    </div>
                    <div class="z-auto tooltip" data-tip="Bookmark">
                        <button class="p-2 border-0 material-symbols-rounded btn text-theme-textSecond bg-theme-postSecond" style="font-variation-settings: 'FILL' 0;">bookmark</button>
                    </div>
                    <div class="z-auto tooltip" data-tip="Reply">
                        <button class="font-bold leading-snug text-white border-0 btn bg-theme-bgAccent text-bas grow"><%= post.name %> <br class="w-fit"> № <%= post.no %> </button>
                    </div>
                    
                </div>

            <% if (images[post.tim]) {  %>
                <div id="replyImageMobile" class="xl:hidden h-[25dvh] bg-theme-postSecond w-full object-contain ">
                    <img src="<%= images[post.tim] %>" alt="" class="my-auto object-contain size-full">
                </div>
            <% } %>

            <% if (post.com) { %>
                <p class="px-2 font-normal leading-tight text-justify mb-2" id="replyComment">
                    <%- post.com? post.com:"" %>
                </p>
            <% } else { %>
                <div id="replyImageMobile" class="bg-theme-postSecond h-full min-h-[200px]">
                    <img src="<%= images[post.tim] %>" alt="" class="m-auto object-contain h-full">
                </div>
            <% } %>

            </div>
        </div>


    </div>




</li>